<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.my.newproject2">
	<uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<application
		android:allowBackup="true"
		android:label="OfflinePay"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".LoginActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateVisible"/>
		<activity
			android:name=".SignupActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".MainpageActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SendActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ReceiveActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".BalanceActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
